* {
    margin: 0;
    font-family: 'Montserrat';
}
#top {
    background: rgb(1, 53, 1);
    color: white;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70% auto;
    align-items: center;
    text-align: right;
    padding: 5px;
}

#top-social {
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: right;
    
}

#top-social ul {
    display: flex;
    flex-direction: row;
    margin-top: 2px;
}

#top-social ul li {
    List-style-type: none;
    text-align: center;
    margin-right: 25px;
    align-items: center;
}

#top-contact {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: left;
    letter-spacing: 2px;
}

#top-contact img {
    margin-right: 10px;
}

header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% auto;
    align-items: center;
    Row-gap: 20px;
}

header #logo {
    text-align: center;
    margin-top: 5px;
}

nav {
    margin-right: 10%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    List-style-type: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
}

nav ul li a:hover {
    cursor: pointer;
    color: green;
}

main.start {
    /* width: 1730px; */
    height: 600px;
    background: url(/assets/grass.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 0 auto;
    align-items: center;
    text-align: center;

}

#title {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#title h3 {
    text-transform: uppercase;
    color: green;
    letter-spacing: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    text-shadow: 0.05em 0.05em 0.01em rgb(0, 0, 0);
}

#title h1 {
    font-size: 70px;
}

#title h1 b {
    color: green;
    font-size: 80px;
}

#service-title {
    background: green;
    color: white;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.services {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 30% 30% 30%;
    margin: 5px 20px 5px 20px;
    justify-content: center;
}

.card {
    background-color: #eff0e7;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
}
.services-card {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.card-img{
    margin-top: 4px;
}

.card-body {
    margin-left: 10px;
    margin-right: 15px;
}

p.card-text {
    font-size: 14px;
    margin-top: 5px;
}

