* {
    margin: 0;
}

header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% auto;
    align-items: center;
    Row-gap: 20px;
}

header #logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

nav {
    margin-right: 10%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li {
    List-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul li a:hover {
    cursor: pointer;
    color: gray;
}

section img {
    width: 1800px;
    height: 700px;  
    background-size: cover;
    background-position: center;
}